.singleSquare {
  height: 5vh;
  width: 5vh;
  border: solid 2px rgb(7, 7, 7);
}

.gridContainer10x10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.wholePage {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverColor {
  background-color: rgb(203, 63, 63);
}

.gridContainer20x20 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.gridContainer30x30 {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.singleSquare2 {
  height: 2.5vh;
  width: 2.5vh;
  border: solid 2px rgb(7, 7, 7);
}

.singleSquare3 {
  height: 1.67vh;
  width: 1.67vh;
  border: solid 2px rgb(7, 7, 7);
}

.hidden {
  display: none;
}

.btns {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn10, .btn20, .btn30 {
  height: 50px;
  width: 100px;
  background-color: rgb(125, 224, 148);
  border: solid 2px black;
}